* text=auto
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.dart text eol=lf
*.kt text eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.mp4 binary
